@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Manrope:wght@600&family=Montserrat&family=Noto+Sans+Shavian&family=Nunito&family=PT+Sans&family=Roboto:wght@100&family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color1: rgb(16, 16, 16);
    --color2: rgb(201, 201, 201);
    --color3: rgb(212, 212, 212);
}

html,
body {
    min-height: 100vh;
    background-color: var(--color1);
    color: white;
    font-family: 'PT Sans', sans-serif;
}

tbody {
    height: 100%;
}

hr{
    height: 1px;
    margin: 0 1em 0 1em;
}

/*---Esto es teniendo en cuenta los 280 iniciales*/

/*HEADER TAG*/

.lf__headerTag{
    display: flex;
    flex-direction: column;
    padding: 1.5em 1em 0 1em;
    gap: 1em;
}
.lf__headerTag .headerTag__header{
    display: flex;
    justify-content: center;
}

.lf__headerTag .headerTag__header .logo{
    filter: invert(100%);
}

.lf__headerTag .headerTag__header .logo img{
    height: 3em;
}

.lf__headerTag .headerTag__main{
    text-align: center;
}

.lf__headerTag .headerTag__main p{
    color: var(--color2);
}

/*MAIN TAG*/

.lf__mainTag{
    padding: 2em 1em 3em 1em;
}

.lf__mainTag .lf__containerOfPrices{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.lf__mainTag .lf__containerOfPrices .__containerOfPrices-element{
    border: 1px solid var(--color3);
    border-radius: 1em;
    padding: 1em 1em 2em 1em;
    flex: 1 0 10em;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lf__mainTag .lf__containerOfPrices .__containerOfPrices-element::before{
    /* Superposición predefinida */
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,.4);
  opacity: 0;
  transition: opacity 0.3s; 
  border-radius: 1em;
}

.lf__mainTag .lf__containerOfPrices .__containerOfPrices-element:hover::before {
    opacity: .3;
  }

.lf__mainTag .lf__containerOfPrices .__containerOfPrices-element .aux-container{
    padding: .5em 1em .5em 1em;
    border-radius: 1em;
    background: linear-gradient(to right, rgb(172, 4, 172), rgb(198, 68, 198), rgb(228, 181, 228));
    color: white;
    width: max-content;
    position: absolute;
    margin: -3em auto 0 auto;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 10px 1px rgba(231,217,217,0.17);
-webkit-box-shadow: 0px 0px 10px 1px rgba(231,217,217,0.17);
-moz-box-shadow: 0px 0px 10px 1px rgba(231,217,217,0.17);
}

.lf__mainTag .lf__containerOfPrices .__containerOfPrices-element p{
    color: var(--color3);
}

.lf__mainTag .lf__containerOfPrices .__containerOfPrices-element .__element-main .itemsContainer{
    display: flex;
    flex-direction: column;
    padding: 1em 0 0 1em;
    gap: 1.5em;
}

.lf__mainTag .lf__containerOfPrices .__containerOfPrices-element .__element-header{
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.lf__mainTag .lf__containerOfPrices .__containerOfPrices-element .__element-header .pricePack{
    font-size: 2.5em;
}

.lf__mainTag .lf__containerOfPrices .__containerOfPrices-element .__element-main{
    margin: 0 0 2em 0;
}

.lf__mainTag .lf__containerOfPrices .__containerOfPrices-element .__element-main .itemsContainer .itemElement{
    display: flex;
    align-items: start;
    gap: .5em;
}

.lf__mainTag .lf__containerOfPrices .__containerOfPrices-element .__element-main .itemsContainer .itemElement .logo{
    fill: var(--color2);
    display: flex;
    align-items: center;
}

.lf__mainTag .lf__containerOfPrices .__containerOfPrices-element .__element-main .itemsContainer .itemElement .text{
    display: flex;
    align-items: start;
}

.lf__mainTag .lf__containerOfPrices .__containerOfPrices-element .__element-footer{
    position: relative;
    height: 2.5em;
}

.lf__mainTag .lf__containerOfPrices .__containerOfPrices-element .__element-footer button{
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    border-radius: .5em;
    border: none;
    background-color: rgb(23, 23, 23);
    text-align: center;
    color: var(--color2);
    font-weight: bolder;
    box-shadow: 0px 0px 10px 1px rgba(231,217,217,0.17);
-webkit-box-shadow: 0px 0px 10px 1px rgba(231,217,217,0.17);
-moz-box-shadow: 0px 0px 10px 1px rgba(231,217,217,0.17);
transition: all .3s;
}

.lf__mainTag .lf__containerOfPrices .__containerOfPrices-element .__element-footer button:hover{
    box-shadow: 0px 0px 15px 1px rgba(231,217,217,0.43);
-webkit-box-shadow: 0px 0px 15px 1px rgba(231,217,217,0.43);
-moz-box-shadow: 0px 0px 15px 1px rgba(231,217,217,0.43);
}


.lf__mainTag .lf__containerOfPrices .__containerOfPrices-element.packRecomended{
    padding: 2em 1em 2em 1em;
    box-shadow: 0px 0px 15px 1px rgba(231,217,217,0.43);
-webkit-box-shadow: 0px 0px 15px 1px rgba(231,217,217,0.43);
-moz-box-shadow: 0px 0px 15px 1px rgba(231,217,217,0.43);
}

.packSimple{
    box-shadow: 0px 0px 10px 1px rgba(231,217,217,0.17);
-webkit-box-shadow: 0px 0px 10px 1px rgba(231,217,217,0.17);
-moz-box-shadow: 0px 0px 10px 1px rgba(231,217,217,0.17);
}

.lf__footerTag{
    width: 100%;
}

.lf__footerTag .contactContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    min-height: 6em;
    border-top: 1px solid var(--color3);
    background-color: black;
    padding: 4em 0 4em 0;
}

.lf__footerTag .contactContainer .elementContact svg{
    fill: var(--color3);
    height: 1.3em;
    transition: all .3s;
}

.lf__footerTag .contactContainer .elementContact svg:hover{
    fill: var(--color3);
    box-shadow: 0px 0px 10px 1px rgba(231,217,217,0.17);
-webkit-box-shadow: 0px 0px 10px 1px rgba(231,217,217,0.17);
-moz-box-shadow: 0px 0px 10px 1px rgba(231,217,217,0.17);
}

@media (width >= 400px){
    h1{
        font-size: 3em;
    }
    .lf__headerTag .headerTag__header .logo img{
        height: 4em;
    }
    .lf__footerTag .contactContainer .elementContact svg{
        fill: var(--color3);
        height: 2em;
    }
}